<div id="main_menu" class="desktop">
    <ul>
        {% if request.user.is_authenticated %}
        <li>
            <a href="{% url 'dashboard' %}" {% if request.path == '/' %}class="active"{% endif %}>
                <i class="fa-solid fa-house"></i>
                &nbsp;Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'userlist' %}" {% if request.path|slice:':5' == '/user' %}class="active"{% endif %}>
                <i class="fa-solid fa-users"></i>
                &nbsp;Employees
            </a>
        </li>
        <li>
            <a href="{% url 'announcements' %}" {% if request.path|slice:':13' == '/announcement' %}class="active"{% endif %}>
                <i class="fas fa-inbox"></i>
                &nbsp;Announcements
            </a>
        </li>
        {% endif %}
    </ul>
</div>